# classes
*.class

# logs
*.log

# bluejs
*.ctxt

# j2me
.mtj.tmp/

# packages
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual-machine
hs_err_pid*
replay_pid*

#build
/build/
.gradle/
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

# intelka
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/